body {
  color: #e6edf3;
  background-color: #010409;
}

.card {
  width: 445px;
  height: 1468px;
  color: #e6edf3;
  background-color: #0d1117;
  border: none;
  padding: 20px;
}

.card-link {
  color: #e6edf3;
}

#btn-profile {
  color: #e6edf3;
  background-color: #21272c;
  border: none;
}

.list-group-item {
  color: #e6edf3;
  background-color: #0d1117;
  border: none;
}

#footerBtns {
  height: 96px;
  width: 1714px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#copyrightText, #github {
  color: #78818a;
}

a {
  text-decoration: none;
}

#overview-n {
  color: rgb(246, 243, 243);
  font-size: 25px;
}

#repositories-n {
  color: lightgray;
  font-size: 25px;
}

#projects-n {
  color: lightgray;
  font-size: 25px;
}

#packages-n {
  color: lightgray;
  font-size: 25px;
}

.nav.nav-underline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1271px;
  height: 96px;
  top: 10px;
  left: 663px;
  gap: 80px;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#container {
  display: flex;
  flex-direction: column;
}

#pinned-repos {
  width: 1251px;
  height: 626px;
  display: flex;
  flex-wrap: wrap;
}

.repo-cards {
  height: 190px;
  width: 600px;
  margin: 5px;
  border: 1px solid #e6edf3;
}

.form-card {
  height: 664px;
  width: 1226px;
}

.form-text {
  color: #e6edf3;
}

#repoNameInput {
  color: #e6edf3;
  background-color: #090d12;
  width: 500px;
}

#repoDescriptionInput {
  color: #e6edf3;
  background-color: #090d12;
  height: 350px;
}
